{% extends 'GuestBookBundle::layout.html.twig' %}

{% block content %}

    {% block paginator  %}
        <div class="pagination pagination-centered">
            <ul>
                <li><a href="#">«</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">»</a></li>
            </ul>
        </div>
    {% endblock %}




    <div class="row ">
        <div class="span16">
            <form class="form-inline">
                <div class="control-group">
                    <label for="inputName">Name</label>
                    <input type="text" id="inputName" placeholder="Name">

                    <label class="control-label" for="inputEmail">Email</label>
                    <input type="text" id="inputEmail" placeholder="Email">

                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
                <div class="control-group">
                    <label  for="inputPassword">Текст</label>
                    <textarea rows="5" placeholder="Текст" class="text-area-text" ></textarea>
                </div>
            </form>
        </div>
    </div>



    <hr>
    <div class="row">
        <div class="span16 posts">


            {% for entity in entities %}
                <div class="post_content">
                    <span class="label label-info">{{ entity.id }}</span>
                    <span class="label label-info">{{ entity.name }}</span>
                    <span class="label label-info">{{ entity.email }}</span>

                    <div class="post">
                        {{ entity.body }}
                    </div>
                    <ul class="breadcrumb br-margin">
                        <li>
                            <a href="{{ path('post_show', { 'id': entity.id }) }}">Show</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="{{ path('post_edit', { 'id': entity.id }) }}">edit</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="{{ path('post_delete', {'id': entity.id}) }}">Delete</a>
                        </li>
                    </ul>
                </div>
            {% endfor %}
            <ul>
                <li>
                    <a href="{{ path('post_new') }}">
                        Create a new entry
                    </a>
                </li>
            </ul>
        </div>
    </div>


{% endblock %}

